<section class="myprojects" id="projects">
          <h1>My Projects</h1>
      </section>
      <section class="carousel">
          <a class="projectLinks" href="TodoApp">
              <div class="carousel-item">
                  <img src="images/todoapp.png" alt="Project 1" />
                  <h3>To Do App</h3>
                  <p>JavaScript To do app using local storage</p>
              </div>
          </a>
          <a class="projectLinks" href="">
              <div class="carousel-item">
                  <img src="" alt="" placeholder="img" />

                  <h3>Project2</h3>
                  <p>Description for Project2</p>
              </div>
          </a>
          <a class="projectLinks" href="">
              <div class="carousel-item">
                  <img src="" alt="" placeholder="img" />

                  <h3>Project3</h3>
                  <p>Description for Project3</p>
              </div>
          </a>
      </section>
